*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

body{
    font-family: "Poppins", sans-serif;
    --section-color : #F2F2F7;
    --green : #46D2D0;
    --black : #1c1d3a;
    --light-gray : #B3B4C8;
    --dark-gray : #6B6C87;
    --red : #f54949;
}


/* header start */

header{
    box-shadow: 1px 1px 20px rgba(28, 29, 58, .5);
    color: var(--black);
    margin-bottom: 50px;
}

h1{
    font-size: 1.3rem;
}

.header-content{
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-content > *{
    padding: 10px 0;
}

.content-types{
    color: var(--dark-gray);
    font-size: .7rem;
}

.header-dropdown > span{
    display: flex;
    align-items: center;
    gap: 7px;
}

@media screen and (min-width : 768px) {
    h1{
        font-size: 1.8rem;
    }

    .content-types,
    .header-dropdown > span{
        font-size: 1rem;
    }

    .header-dropdown{
        cursor: pointer;
    }

    .header-content{
        gap: 20px;
    }

    .header-content > *{
        padding: 10px;
    }
}

@media screen and (min-width : 1200px) {
    h1{
        font-size: 2rem;
    }

    .content-types,
    .header-dropdown > span{
        font-size: 1.1rem;
    }
    
    .header-content{
        gap: 30px;
    }
}
/* header end */

/* input-wrapper start */

.main-content{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.input-wrapper,
.form-wrapper{
    background: var(--section-color);
    padding: 10px 10px 0;
    border-radius: 5px;
}

.form-wrapper{
    background: #fff;
    border: 1px solid var(--green);
}

.input-infos .left,
.input-infos,
.form-infos .left,
.form-infos{
    display: flex;
    align-items: center;
    gap: 10px;
}   

.input-infos,
.form-infos{
    justify-content: space-between;
    border-bottom: 1px solid var(--light-gray);
}

.input-infos h3{
    font-size: .9rem;
}

.input-tags,
.form-tags{
    font-size: .6rem;
    color: var(--green);
    font-weight: 600;
}

.input-tags span {
    padding: 0 5px;
    border-left: 1px solid var(--light-gray);
    text-transform: uppercase;
    display: none;
}

.input-tags span:first-child{
    display: inline;
}

.input-settings-icon{
    color: var(--dark-gray);
    cursor: pointer;
    padding: 5px 0;
}

.input{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.input span{
    background-color: #fff;
    border: 1px solid var(--light-gray);
    color: var(--green);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 8px;
    text-transform: capitalize;
    font-size: .8rem;
    margin: 5px 5px 5px 0;
    font-weight: 600;
}

.input svg{
    color: var(--red);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.input input,
.input textarea {
    height: 40px;
    width: 100%;
    border: none;
    background: none;
    font-family: "Poppins", sans-serif;
    font-size: .8rem;
}

.input textarea{
    padding-top: 5px;
    height: 100px;
}

.input input:focus,
.input textarea:focus{
    outline: none;
}

@media screen and (min-width : 420px){
    .input-tags span{
        display: inline;
    }
}

@media screen and (min-width : 768px){

    .input-wrapper{
        padding: 10px 15px 0;
    }

    .input-wrapper h3{
        font-size: 1.1rem;
        letter-spacing: 1px;
    }

    .input-tags{
        font-size: .8rem;
    }

    .input-settings-icon svg {
        width: 20px;
        height: 20px;
    }

    .input span{
        margin-top: 10px;
    }

    .input input,
    .input textarea{
        font-size: 1rem;
    }

    .input textarea {
        height: 120px;
    }
}

@media screen and (min-width : 992px) {

    .input-wrapper{
        padding: 10px 25px 5px;
    }

    .input-infos h3{
        font-size: 1.35rem;
    }

    .input-infos{
        padding: 5px 0;
    }

    .input span{
        font-size: 1rem;
    }
}
/* input wrapper end */

/* form start */

.form-content {
    padding: 20px 10px 30px;
}

.form-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.section-title-and-description{
    margin-bottom: 10px;
}

.section-title-and-description h4{
    font-size: .9rem;
    margin-bottom: 5px;
}

.section-title-and-description p {
    font-size: .85rem;
}

.form-input{
    border: 2px solid transparent;
    width: 100%;
    background-color: var(--section-color);
    font-family: "Poppins", sans-serif;
    padding: 10px 5px;
    border-radius: 5px;
    transition: border-color .3s;
}

.form-input:focus{
    outline: none;
}

.form-input.invalid,
.form-input:invalid{
    border-color: var(--red);
}

.form-input[type=number]::-webkit-inner-spin-button, 
.form-input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance:;
    -moz-appearance: none ;
    appearance: none;
    margin: 0; 
}

.form-input[type=number] {
    -moz-appearance: textfield;
}

.error-msg{
    margin-top: 5px;
    font-size: .8rem;
    color: transparent;
    transition: color .3s;
    user-select: none;
}

.form-input:invalid ~ .error-msg,
.error-msg.show{
    color: var(--red);
}

@media screen and (min-width : 768px) {

    .form-input{
        font-size: 1rem;
    }

    .error-msg{
        font-size: 1rem;
    }

    .section-title-and-description{
        margin-bottom: 20px;
    }

    .section-title-and-description h4{
        font-size: 1.1rem;
    }
    
    .section-title-and-description p {
        font-size: 1rem;
    }
}

/* form end */

/* date input start */
.date-input input{
    width: 70px;
    border: none;
    background: var(--section-color);
    padding: 5px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: border .3s;
}

.date-input span{
    font-size: .6rem;
    color: var(--dark-gray);
}

.date-input input:focus{
    outline: none;
}

@media screen and (min-width : 768px) {

    .date-input .form-input{
        width: 100px;
        padding: 7px;
    }

}

/* date input end */

/* image-url start */

.url-and-preview-wrapper .error-msg{
    margin-bottom: 25px;
}

.images-wrapper{
    display: flex;
    gap: 20px;
}

.images-wrapper span{
    font-size: .7rem;
    font-weight: 600;
}

.landscape-preview img,
.portrait-preview img{
    border-radius: 5px;
    box-shadow: 1px 1px 5px var(--dark-gray);
    width: 100%;
    margin-top: 15px;
}

.landscape-preview{
    width: 100%;
}

.portrait-preview{
    width: 70%;
}

@media screen and (min-width : 480px) {
    .images-wrapper span {
        font-size: 1rem;
    }
}

@media screen and (min-width : 768px) {

    .images-wrapper{
        width: 55%;
        margin: 0 auto;
        text-align: center;
    }
}

        
/* image-url end */

/* rating-country-production start */

.rating-country-production div:last-child{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.rating-country-production .input-container{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: .8rem;
    gap: 5px;
    width: 45%;
    text-align: left;
}

.rating-country-production ,.input-container span{
    width: 100%;
}

.rating-country-production .form-input{
    width: 100%;
    font-size: .75rem;
}

@media screen and (min-width : 480px){
    .rating-country-production span{
        font-size: .9rem;
    }
}

@media screen and (min-width : 768px){
    .rating-country-production .form-input,
    .rating-country-production span{
        font-size: 1rem;
    }
}

/* rating-country-production end */

/* casts start */

.casts .input{
    background: var(--section-color);
    padding: 10px;
    border-radius: 5px;
}

/* casts end */

/* seasons number and number of episodes start */

.season-number-and-episode-counts{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: .9rem;
}

.season-number,
.number-of-episodes{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@media screen and (min-width : 768px) {
    .season-number-and-episode-counts{
        flex-direction: row;
        gap: 20px;
        font-size: 1rem;
        align-items: center;
    }
}

/* seasons number and number of episodes end */