.uploads {
    margin-top: 10px;
    display: none;
}

body.uploading .uploads{
    display: block;
}

.uploads-wrapper{
    padding-top: 20px;
}

.uploads .videos,
.uploads .subtitles{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.uploads .videos{
    margin-bottom: 25px;
}

.uploads-wrapper > p{
    margin-bottom: 15px;
    color: var(--green);
    font-weight: 600;
    text-decoration: underline;
}

.uploads .progress {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    background-color: var(--section-color);
    padding: 10px;
    border-radius: 5px;
}

.uploads .progress p {
    font-size: .7rem;
    font-weight: bold;
    word-wrap: break-word;
    color: var(--dark-gray);
}

.uploads .bar {
    width: 70%;
    height: 15px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    border-radius: 2px;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

.uploads .bar-wrapper{
    display: flex;
    align-items: center;
    gap: 10px;
}

.progress .progress-bar{
    height: 100%;
    width: 0;
    background: var(--light-gray);
    transition: width .2s;
}

.progress .bar-wrapper::after{
    font-size: .8rem;
    content: 'Queued';
    color: var(--light-gray);
    font-weight: 600;
}

.progress.uploading .bar-wrapper::after{
    content: 'Uploading';
    color: var(--green);
}

.progress.uploading .progress-bar{
    background-color: var(--green);
}

.progress.paused .bar-wrapper::after{
    content: 'Paused';
    color: #ffa500;
}

.progress.paused .progress-bar{
    background-color: #ffa500;
}

.progress.done .bar-wrapper::after{
    content: 'Success !';
    color: var(--green);
}

.progress.done .progress-bar{
    background-color: var(--green);
}

.progress.done button{
    display: none;
}

.progress .percentage{
    font-size: .7rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 1px;
}

.progress .btn-wrapper{
    display: flex;
    gap: 5px;
}

.progress button {
    font-family: "Poppins", sans-serif;
    font-size: .7rem;
    border: none;
    padding: 0 5px;
    display: none;
    background: none;
    cursor: pointer;
}

.progress.uploading #cancelBtn,
.progress.paused #cancelBtn{
    display: block;
}

.progress svg {
    width: 20px;
    height: 20px;
}

.progress #cancelBtn svg{
    color: var(--red);
}

.progress #playOrPauseBtn {
    display: none;
}

.progress.paused #playOrPauseBtn,
.progress.uploading #playOrPauseBtn{
    display: block;
}

.progress #playOrPauseBtn svg:first-child{
    color: #ffa500;
}

.progress #playOrPauseBtn svg:last-child{
    color: var(--green);
}

.progress #playOrPauseBtn.paused svg:first-child {
    display: none;
}
.progress #playOrPauseBtn.paused svg:last-child {
    display: block;
}

.progress #playOrPauseBtn.running svg:first-child {
    display: block;
}
.progress #playOrPauseBtn.running svg:last-child {
    display: none;
}

@media screen and (min-width : 480px) {
    .uploads-wrapper{
        width: 400px;
    }
}

@media screen and (min-width : 768px) {

    .uploads-wrapper{
        width: 100%;
    }

    .uploads .progress p {
        font-size: .8rem;
    }

    .uploads .videos,
    .uploads .subtitles{
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (min-width : 1200px) {
    .uploads .videos,
    .uploads .subtitles{
        grid-template-columns: repeat(3, 1fr);
    }
}